body{
    background-color:black ;
    margin: 0%;
}
header{
    width: 100%;
    height: 100px;
    background-color: cadetblue;
}
.conteinerFlex { /*стиль для родительского контейнера*/
    text-align: center;/*расположение текста*/
    font-size: larger; /*длина текста*/
    display: flex; /*подключение режима flex*/
    height: 300px;
    background-color: brown;
    flex-wrap: wrap; /*перенос на следующую страницу, nowrap=не перенос*/
}
.conteinerFlexItem{ /*стиль для дочерних контейнеров*/
height:100px;
width:100px;
margin: auto; /*автоматические отступы*/
background-color: coral;
border-radius: 10px;
}